%element {
  color: #ebebeb;
  width: 240px;
  padding: 8px 8px 10px;
  font-size: 12px;
}

.toggle-sign {
  padding: 0
}

.events-count {
  text-align: right;
}

.level-1 {
  @extend %element;
  background-color: #043a32;
  border-bottom: 1px solid #042621;
}

.level-2 {
  @extend %element;
  background-color: #015247;
  border-bottom: 1px solid #5f5f5f;
}

.level-3 {
  @extend %element;
  background-color: #042621;
  border-bottom: 1px solid #5f5f5f;
  font-size: 11px;
}

.main-view {
  width: 240px;
}

.sb-accordion-menu-component {
  background-color: #042621;
}
