<div class="main-view">
  <sb-accordion-menu [value]="data" class="sb-accordion-menu-component">
    <ng-template sbTemplate level=1 let-item>
      <div class="container level-1">
        <div class="row">
          <span class="col-8">{{item.categoryName}}</span>
          <span class="col-4">{{item.eventsCount}}</span>
        </div>
      </div>
    </ng-template>
    <ng-template sbTemplate level=2 [onlyOneExpanded]="false" let-item>
      <div class="container level-2">
        <div class="row">
          <span class="col-8">{{item.categoryName}}</span>
          <span class="col-4">{{item.eventsCount}}</span>
        </div>
      </div>
    </ng-template>
    <ng-template sbTemplate level=3 [onlyOneExpanded]="false" let-item>
      <div class="container level-3">{{item.categoryName}}</div>
    </ng-template>
  </sb-accordion-menu>
</div>
