<sb-accordion-menu [value]="data" class="sb-accordion-menu-level sb-accordion-menu-component">
  <ng-template sbTemplate level=1 let-item>
    <span class="element">{{item.categoryName}}</span>
  </ng-template>
  <ng-template sbTemplate level=2 [onlyOneExpanded]="false" let-item>
    <span class="element">{{item.categoryName}}</span>
  </ng-template>
  <ng-template sbTemplate level=3 [onlyOneExpanded]="false" let-item>
    <span class="element">{{item.categoryName}}</span>
  </ng-template>
</sb-accordion-menu>
